// IMPORTS
@font-face {
    font-family: 'Vendetta';
    src: url('/assets/fonts/Vendetta.otf');
}

// FONTS
$font-logo: 'Vendetta', sans-serif;
$font-title: 'Staatliches', cursive;
$font-text: 'Nunito Sans', sans-serif;